<!doctype html>
<html lang="en">
  <head>

    <title>Dashboard</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 


    <!-- Highcharts style -->
    <link rel="stylesheet" href="highcharts.css">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- D3 Charts CDN -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

  </head>
  <style>
  #datatable {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  #datatable caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
  }
  #datatable th {
    font-weight: 600;
      padding: 0.5em;
  }
  #datatable td, #datatable th, #datatable caption {
      padding: 0.5em;
  }
  #datatable thead tr, #datatable tr:nth-child(even) {
      background: #f8f8f8;
  }
  #datatable tr:hover {
      background: #f1f7ff;
  }

/* Create two equal columns that floats next to each other */
.columnn {
  float: left;
  width: 50%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btnn {
  border: none;
  outline: none;
  padding: 6px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btnn:hover {
  background-color: #ddd;
}

.btnn.active {
  background-color: #666;
  color: white;
}
.highcharts-credits{
  display: none !important;
}

</style>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

  
  <form method="POST">
    {% csrf_token %}  
    <input type="date" name="date">
    <input type="text" name="state">
    <button type="submit">submit</button>
    <input type="month" name="month">
  </form>

  <!-- <script language = "JavaScript" src="chart_1.js"></script> -->
  
  <div class="row">
    <div class="columnn" style="background-color:white;">
      <div id="btnContainer">
         <button class="btn" onclick="dayWise()"><i class="fa fa-bars"></i> Recent</button> 
         <button class="btn active" onclick="monthWise()"><i class="fa fa-th-large"></i> year</button>
      </div>
      <figure class="highcharts-figure">
        <div id="container" style = "width: 600px; height: 400px; margin: 0 auto"></div>
      </figure>
    </div>

    <div class="columnn" style="background-color:white;">
      <div id="btnContainer">
        <button class="btnn" onclick="dayWise()"><i class="fa fa-bars"></i> List</button> 
        <button class="btnn active" onclick="monthWise()"><i class="fa fa-th-large"></i> Grid</button>
     </div>
    <figure class="highcharts-figure">
      <div id="container2" style = "width: 700px; height: 400px; margin: 0 auto"></div>
    </figure>
    </div>
  </div>

  </body>
  <script>
    Highcharts.chart('container', {
      chart: {
          zoomType: 'xy'
      },
      title: {
          text: 'Container'
      },
      plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                //inside: true
            }
        }
      },
      subtitle: {
          text: 'Source: WorldClimate.com'
      },
      xAxis: [{
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          crosshair: true
      }],
      yAxis: [{ // Primary yAxis
          labels: {
              format: '',
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
          },
          title: {
              text: '',
              style: {
                  //color: Highcharts.getOptions().colors[1]
              }
          }
      }, { // Secondary yAxis
          title: {
              text: '',
              style: {
                  //color: Highcharts.getOptions().colors[0]
              }
          },
          labels: {
              format: '',
              style: {
                  color: Highcharts.getOptions().colors[0]
              }
          },
          opposite: true
      }],
      tooltip: {
          shared: true
      },
      legend: {
          layout: 'vertical',
          align: 'left',
          x: 120,
          verticalAlign: 'top',
          y: 100,
          floating: true,
          backgroundColor:
              Highcharts.defaultOptions.legend.backgroundColor || // theme
              'rgba(255,255,255,0.25)'
      },
      series: [{
          name: 'Rainfall',
          type: 'column',
          yAxis: 1,
          data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
          tooltip: {
              valueSuffix: ' mm'
          }
  
      }, {
          name: 'Temperature',
          type: 'spline',
          data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
          tooltip: {
              valueSuffix: '°C'
          }
      }]
  });
  </script>
  <script>
    Highcharts.chart('container2', {
      chart: {
          zoomType: 'xy'
      },
      title: {
          text: 'Container 2'
      },
      plotOptions: {
        series: {
            dataLabels: {
                enabled: true,
                //inside: true
            }
        }
    },
      subtitle: {
          text: 'Source: WorldClimate.com'
      },
      xAxis: [{
          categories: ['Jan 20, 2020', 'Jan 21, 2020', 'Jan 22, 2020', 'Jan 23, 2020', 'Jan 24, 2020', 'Jan 25, 2020',
              'Jan 26, 2020', 'Jan 27, 2020', 'Jan 28, 2020', 'Jan 29, 2020', 'Jan 30, 2020', 'Jan 31, 2020'],
          crosshair: true
      }],
      yAxis: [{ // Primary yAxis
          labels: {
              format: '{value}°C',
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
          },
          title: {
              text: 'Temperature',
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
          }
      }, { // Secondary yAxis
          title: {
              text: 'Rainfall',
              style: {
                  color: Highcharts.getOptions().colors[0]
              }
          },
          labels: {
              format: '{value} mm',
              style: {
                  color: Highcharts.getOptions().colors[0]
              }
          },
          opposite: true
      }],
      tooltip: {
          shared: true
      },
      legend: {
          layout: 'vertical',
          align: 'left',
          x: 120,
          verticalAlign: 'top',
          y: 100,
          floating: true,
          backgroundColor:
              Highcharts.defaultOptions.legend.backgroundColor || // theme
              'rgba(255,255,255,0.25)'
      },
      series: [{
          name: 'Rainfall',
          type: 'column',
          yAxis: 1,
          data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
          tooltip: {
              valueSuffix: ' mm'
          }
  
      }, {
          name: 'Temperature',
          type: 'spline',
          data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
          tooltip: {
              valueSuffix: '°C'
          }
      }]
  });
  </script>

  <script>
    // Get the elements with class="column"
    var elements = document.getElementsByClassName("column");
    
    // Declare a loop variable
    var i;
    
    // List View
    function dayWise() {
      for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "100%";
      }
    }
    
    // Grid View
    function gridView() {
      for (i = 0; i < elements.length; i++) {
        elements[i].style.width = "50%";
      }
    }
    

    </script>
  <script>

  </script>
    
  <script>
    d3.selectAll("h1").style("text-align", "center");
    d3.selectAll("p").style("color", "green");
    d3.selectAll("table").style("color", "white");
  </script>

</html>
